{
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "crlf",
  "semi": true,
  "plugins": ["prettier-plugin-organize-imports"]
}