.main {
  display: grid;
  grid-template-columns: minmax(2rem,1fr) clamp(18rem,90vw,30rem) minmax(2rem,1fr);
  grid-template-rows: 2rem max-content 1fr;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  z-index: 1;
}

@media screen and (min-width: 1440px) {
  .main
  {
    grid-template-columns: minmax(2rem,1fr) minmax(0,800px) minmax(0,400px) minmax(2rem,1fr);
  }
}

@media screen and (min-width: 45em) {
  .main
  {
    grid-template-columns: minmax(2rem,1fr) clamp(41rem,90vw,45rem) minmax(2rem,1fr);
  }
}

@media screen and (min-width: 65em) {
  .main {
    grid-template-columns: minmax(2rem,1fr) minmax(0,43.3333333333em) minmax(0,21.6666666667em) minmax(2rem,1fr);
    grid-template-rows: 2rem 1fr;
  }
}



