.bgBlured {
  backdrop-filter: blur(.5em);
  background-color: hsla(0,0%,100%,.04);
  position: relative;
  grid-column: 1/4;
  grid-row: 3;
}

@media screen and (min-width: 65em) {
  .bgBlured
  {
    border-block-start: none;
    border-inline-start: 5px solid hsla(0,0%,100%,.14);
    grid-column: 3/5;
    grid-row: 1/3;
  }
}
