.asideBar {
  display: grid;
  height: calc(100vh - 5rem - clamp(18rem, 90vw, 30rem)/5*3);
  justify-content: center;
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  grid-column: 2;
  grid-row: 3;
}

@media screen and (min-width: 45em) {
  .asideBar {
    height: calc(100vh - 5rem - clamp(41rem, 90vw, 45rem)/5*3);
  }
}

@media screen and (min-width: 65em) {
  .asideBar {
    height: calc(100vh - 3rem);
    justify-content: stretch;
    margin-block-start: 0;
    grid-column: 3;
    grid-row: 2;
  }
}
